<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numberOfFlies</key>
	<integer>20</integer>
	<key>numberOfWaterObstacles</key>
	<integer>3</integer>
	<key>numberOfBadBees</key>
	<integer>7</integer>
	<key>levelDistance</key>
	<integer>7500</integer>
	<key>speed</key>
	<integer>3</integer>
	<key>isFloor</key>
	<false/>
	<key>levelPrefix</key>
	<string>2</string>
	<key>prizeType</key>
	<string>silverPrize</string>
</dict>
</plist>
