<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numberOfFlies</key>
	<integer>90</integer>
	<key>numberOfWaterObstacles</key>
	<integer>10</integer>
	<key>numberOfBadBees</key>
	<integer>25</integer>
	<key>levelDistance</key>
	<integer>16000</integer>
	<key>speed</key>
	<integer>4</integer>
	<key>isFloor</key>
	<true/>
	<key>levelPrefix</key>
	<string>3</string>
	<key>prizeType</key>
	<string>goldPrizePlus</string>
</dict>
</plist>
